@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
}

body {
  padding: 2rem;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  padding: 5rem 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.purple {
  color: #6415ff;
}

/* 

NAVBAR 

*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo--img {
  width: 2.5rem;
  margin-right: 0.75rem;
}

.nav__logo--text {
  font-size: 1.5rem;
  font-weight: 900;
  color: #243e63;
  transition: color 300ms ease;
}

.nav__logo--text:hover,
.nav__link:hover {
  color: #6415ff;
}

.nav__links {
  display: flex;
}

.nav__link {
  font-size: 0.875rem;
  font-weight: 600;
  color: #243e63;
  margin: 0 1.5rem;
  padding: 0.25rem 0;
  transition: color 300ms ease, border-color 300ms ease-in-out;
  border-color: transparent;
}

.nav__link:hover {
  border-bottom: 2px solid #6415ff;
}

.nav__link--margin {
  margin-left: 3rem;
}

.nav__link--primary {
  font-size: 0.875rem;
  font-weight: 600;
  color: #f7fafc;
  padding: 0.75rem 2rem;
  background-color: #6415ff;
  border-radius: 9999px;
  transition: background-color 300ms ease;
}

.nav__link--primary:hover {
  background-color: rgb(80, 17, 204);
}

/* 

LANDING 

*/

.landing__left-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.landing__title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.25;
  color: #1a202c;
}

.landing__para {
  font-size: 1.125rem;
  margin: 2rem 0;
  color: #243e63;
  text-align: left;
  line-height: 1.25;
}

.landing__right-container {
  width: 60%;
}

.landing__img {
  max-width: 32rem;
}

.input__container {
  position: relative;
}

.landing__input {
  padding: 1.25rem 12rem 1.25rem 2rem;
  border: 0 solid #e5e7eb;
  border-radius: 9999px;
  border-width: 2px;
  width: 100%;
  font-weight: 500;
  transition: all 300ms ease;
  line-height: 1.15;
  font-size: 100%;
  line-height: 1.15;
}

.landing__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: 0.5rem 0.5rem 0.5rem 0;
  width: 10rem;
  line-height: 1;
  transition: all 300ms ease;
  font-weight: 700;
  font-size: 100%;
  color: #f7fafc;
  background-color: #6415ff;
  border: none;
  border-radius: 9999px;
  padding: 1rem 0;
}

.landing__btn:hover {
  background-color: rgb(60, 13, 153);
  cursor: pointer;
}
