@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
}

body {
  padding: 2rem;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  padding: 5rem 0;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.purple {
  color: #6415ff;
}

.section__title {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  color: #6415ff;
}

.section__heading {
  width: 100%;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #243e63;
  margin-top: 1rem;
}

.section__para {
  width: 100%;
  font-size: 1.125rem;
  margin-top: 1rem;
  font-weight: 500;
  line-height: 1.625;
  color: #7c8ba1;
}

/* 

NAVBAR 

*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo--img {
  width: 2.5rem;
  margin-right: 0.75rem;
}

.nav__logo--text {
  font-size: 1.5rem;
  font-weight: 900;
  color: #243e63;
  transition: color 300ms ease;
}

.nav__logo--text:hover,
.nav__link:hover {
  color: #6415ff;
}

.nav__links {
  display: flex;
}

.nav__link {
  font-size: 0.875rem;
  font-weight: 600;
  color: #243e63;
  margin: 0 1.5rem;
  padding: 0.25rem 0;
  transition: color 300ms ease, border-color 300ms ease-in-out;
  border-color: transparent;
}

.nav__link:hover {
  border-bottom: 2px solid #6415ff;
}

.nav__link--margin {
  margin-left: 3rem;
}

.nav__link--primary {
  font-size: 0.875rem;
  font-weight: 600;
  color: #f7fafc;
  padding: 0.75rem 2rem;
  background-color: #6415ff;
  border-radius: 9999px;
  transition: background-color 300ms ease;
}

.nav__link--primary:hover {
  background-color: rgb(80, 17, 204);
}

/* 

LANDING 

*/

.landing__left-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.landing__title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.25;
  color: #1a202c;
}

.landing__para {
  font-size: 1.125rem;
  margin: 2rem 0;
  color: #243e63;
  text-align: left;
  line-height: 1.25;
}

.landing__right-container {
  width: 50%;
}

.landing__img {
  width: 100%;
}

.input__container {
  position: relative;
}

.landing__input {
  padding: 1.25rem 12rem 1.25rem 2rem;
  border: 0 solid #e5e7eb;
  border-radius: 9999px;
  border-width: 2px;
  width: 100%;
  font-weight: 500;
  transition: all 300ms ease;
  line-height: 1.15;
  font-size: 100%;
  line-height: 1.15;
}

.landing__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: 0.5rem 0.5rem 0.5rem 0;
  width: 10rem;
  line-height: 1;
  transition: all 300ms ease;
  font-weight: 700;
  font-size: 100%;
  color: #f7fafc;
  background-color: #6415ff;
  border: none;
  border-radius: 9999px;
  padding: 1rem 0;
}

.landing__btn:hover {
  background-color: rgb(60, 13, 153);
  cursor: pointer;
}

.landing__customers {
  margin-top: 5rem;
}

.landing__customers--title {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  color: #a0aec0;
}

.landing__customers--logos {
  margin-top: 1rem;
  padding-right: 8rem;
  width: 100%;
  max-width: 100%;
  opacity: 0.5;
}

/* 

FEATURES 

*/

#features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features__row {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.features__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features__title {
  text-align: center;
}

.features__heading {
  text-align: center;
}

.features__para {
  text-align: center;
  max-width: 36rem;
}

.features__services {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.features__service {
  display: flex;
  align-items: flex-start;
  text-align: left;
  height: 100%;
  padding: 2rem 0.5rem;
  width: calc(100% / 3);
}

.features__service--icon {
  display: flex;
  border: 0 solid #e5e7eb;
  border-width: 1px;
  text-align: center;
  border-radius: 9999px;
  padding: 1.25rem;
  flex-shrink: 0;
}

.features__service--text {
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.features__service--title {
  margin-top: 1rem;
  letter-spacing: 0.025em;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
  color: #243e63;
}

.features__service--para {
  margin-top: 1rem;
  font-weight: 500;
  line-height: 2;
  color: #7c8ba1;
}

/* 

QUALITY WORK

*/

.quality__description {
  padding: 2rem 2rem 2rem 0;
  text-align: left;
  width: 50%;
}

.quality__title {
  text-align: left;
}

.quality__heading {
  text-align: left;
}

.quality__para {
  text-align: left;
}

.quality__btn {
  margin-top: 2rem;
  font-size: 0.875rem;
  display: inline-block;
  border-radius: 9999px;
  padding: 0.75rem 2rem;
  font-weight: 700;
  color: #f7fafc;
  background-color: #6415ff;
  transition: all 300ms ease;
  cursor: pointer;
}

.quality__btn:hover {
  background-color: rgb(80, 17, 204);
}

.quality__img--container {
  width: 50%;
}

.quality__img {
  border: 0 solid #e5e7eb;
  border-radius: 0.25rem;
  border-width: 1px;
  max-width: 100%;
  height: auto;
  display: block;
  border-style: solid;
}

/* 

STEPS

*/

#steps {
  justify-content: space-between;
}

.steps__img--container {
  width: 50%;
  align-items: center;
}

.steps__img {
  border-radius: 0.25rem;
  border-width: 1px;
  max-width: 100%;
  height: auto;
  display: block;
}

.steps__description {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}

.step {
  display: flex;
  margin-top: 2rem;
}

.step__number {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 1;
  color: #cbd5e0;
}

.step__text {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}

.step__title {
  line-height: 1;
  font-size: 1.25rem;
  font-weight: 600;
  color: #243e63;
}

.step__para {
  margin-top: 0.75rem;
  max-width: 20rem;
  line-height: 2;
  font-size: 0.875rem;
  color: #718096;
  font-weight: 500;
}

/* 

VALUES

*/

#values {
  justify-content: space-between;
}
.values__description,
.values__img--container {
  width: 45%;
}

.values__cards {
  display: flex;
}

.value {
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem 0 0;
}

.value__title {
  display: flex;
}

.value__title--icon {
  width: 36px;
  height: 36px;
  display: inline-block;
  text-align: center;
  padding: 0.5rem;
  flex-shrink: 0;
  border-radius: 9999px;
  border-width: 0px;
}

.affordable {
  background-color: rgb(154, 230, 180);
}

.professionalism {
  background-color: rgb(254, 178, 178);
}

.value__title--text {
  color: #243e63;
  display: flex;
  align-items: center;
  margin-left: 0.75rem;
  font-weight: 700;
  font-size: 1.25rem;
}

.value__para {
  text-align: left;
  margin-top: 1rem;
  color: #718096;
  line-height: 1.625;
}

.values__img--container {
  align-items: center;
}

.values__img {
  max-width: 100%;
  height: auto;
}

.values__btn {
  margin-top: 3rem;
  font-size: 0.875rem;
  display: inline-block;
  border-radius: 9999px;
  padding: 0.75rem 2rem;
  transition: all 300ms ease;
  color: #f7fafc;
  background-color: #6415ff;
  cursor: pointer;
  font-weight: 700;
}

.values__btn:hover {
  background-color: rgb(80, 17, 204);
}
